<template lang="pug">
nav
  ul.nav
    li(
      v-for="{to, name}, index in routes"
      :key="index"
    )
      router-link(
        :to="to"
      ) {{ name }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AppNav extends Vue {
  routes = [
    {
      to: '/',
      name: 'Test one',
    },
    {
      to: '/two',
      name: 'Test two',
    },
  ];
}
</script>

<style lang="stylus" scoped>
.nav
  padding 27px 18px
  list-style none
</style>
