<template lang="pug">
p.text(
  :class="{'text_red': red}"
)
  slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class AppText extends Vue {
  @Prop({ type: Boolean, default: false })
  readonly red!: boolean;
}
</script>

<style lang="stylus" scoped>
.text
  &_red
    color red
</style>
