<template lang="pug">
.one
  h1 Выводим список названий Один
  AppLoader
  ul
    li(
      v-for="{id, name} in list"
    ) {{ name }}
  AppText Список пуст!
  AppText(
    :red="true"
  ) {{ error }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { STORE_MODULE_ONE } from './consts';
import { AppLoader, AppText } from '@/components';

const EventsList = namespace(STORE_MODULE_ONE);

@Component({
  components: {
    AppText,
    AppLoader,
  },
})
export default class TestOne extends Vue {}
</script>
