<template lang="pug">
.one
  h1 Выводим список названий Два
  AppLoader
  ul
    li(
      v-for="{id, name} in list"
    ) {{ name }}
    AppText Список пуст!
    AppText(
      :red="true"
    ) {{ error }}
</template>

<script>
import { AppLoader, AppText } from '@/components';
import { STORE_MODULE_TWO } from './consts';

export default {
  components: {
    AppText,
    AppLoader,
  },

  props: {
    warning: {
      type: String,
      default: 'O_O',
    },
  },

  data: () => ({
    warningText: this.warning,
  }),
};
</script>
