<template lang="pug" functional>
h2 Loading...
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AppLoader extends Vue {}
</script>

<style lang="stylus" scoped></style>
