<template lang="pug">
#conteiner
  AppNav
  router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AppNav } from '@/components';

@Component({
  components: {
    AppNav,
  },
})
export default class App extends Vue {}
</script>

<style lang="stylus">
*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family Avenir, Helvetica, Arial, sans-serif
  color #2c3e50

#conteiner
  display grid
  grid-template-columns 190px 1fr
</style>